/* https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
.listSanPham {
	margin: 50px auto;
    border-collapse: collapse;
    width: 100%;
}

/* thêm border và padding cho th */
.listSanPham th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.listSanPham td {
    border: 1px solid #ddd;
}

/* Đổi màu button khi hover vào tr */
.listSanPham tr:hover td button {
    background-color: rgb(176, 212, 177)
}

/* Canh giữa cho cột stt và th */
.listSanPham tr td:first-child, .listSanPham tr th {
	text-align: center;
}

/* những tr chẵn sẽ có màu khác */
.listSanPham tr:nth-of-type(even) {background-color: #f2f2f2;}

/* Dòng tổng tiền thanh toán sẽ có màu đậm hơn */
.listSanPham tr:not(:last-child):hover {background-color: #e5e2e2;}

/* Last child là dòng tổng tiền */
.listSanPham tr:last-child { background-color: #aaa; }

/* Số lượng */
.listSanPham .soluong {
    text-align: center;
}
.listSanPham .soluong button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; 
}
.listSanPham .soluong button:hover {
    background-color: #4CAF50; 
}
.listSanPham .soluong input {
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 5em;
    height: 2em;
}

/* Link sản phẩm */
.noPadding {
    padding: 0 0 0 10px;
    line-height: 2.5em;
}
.listSanPham td a {
    display: block;
    position: relative;
    padding: 5px 0;
}
.listSanPham td a:hover {
    text-decoration: underline;
}

/* Hình ảnh sản phẩm */
.imgHide img {
    position: absolute;
    right: -130px;
    width: 150px;
    height: 0;
    border-radius: 10px;
    transition-duration: .1s;
}
.imgHide a:hover img {
    height: 150px;
}

/* Cột Giá tiền canh lề phải */
.alignRight {
    text-align: right;
    padding-right: 30px;  
}



/* Nút xóa */
.fa-trash {
    text-align: center;
    width: 100%;
    height: 100%;
    color: #999;
    cursor: pointer;
    transition-duration: .2s;
}

.fa-trash:hover {
    color: red;
    transform: scale(1.5)
}

/* Nút thanh toán */
.thanhtoan {
    font-size: 1.5em;
    padding: 10px 15px;
    font-weight: bold;
    background-color: rgb(197, 223, 199);
    cursor: pointer;
    transition-duration: .2s;
}
.thanhtoan:hover {
    background-color: #4CAF50; 
}

.xoaHet {
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.xoaHet:hover {
    background-color: rgb(224, 65, 65);
}
#checkoutModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .infor0 {
    width: 60%;
    background-color: #fff;
    padding: 20px;
  }
  .infor_total{
    display: flex;
    width: 60%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* Màu nền cho modal */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    gap: 20px;
  }
  .infor_end{
    width: 45%;
    background-color: #fff;
    /* Màu nền cho modal */
    padding: 20px;
    border: 2px solid black;
  }
  .end_infor1{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top:15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
  .promo{
    margin-top: 15px;
    width: 94.5%;
  }
  .promo input{
    height: 15px;
    padding: 10px;
  }
  .promo-button{
    margin-top: 17px;
    width: 100%;
   
  }
  .promo-button button{
    width: 100%;
    padding: 10px;
  }
  .payment-options{
    margin-top:15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
  .thanhtoan-button button{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: red;
    margin-top: 14px;
  }
  .infor1 {
    text-align: center;
    margin-bottom: 10px;
  }
  .close-button {
    font-size: 15px;
    position: absolute;
    top: 5px;
    z-index: 1;
    right: 10px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 50%;
    width: 30px; /* Điều chỉnh giá trị chiều rộng theo nhu cầu của bạn */
    height: 30px; /* Điều chỉnh giá trị chiều cao theo nhu cầu của bạn */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  
  .butt {
    float: right;

  }

  .butt .confirm {
    color: #fff;
    background-color: rgb(2, 218, 2);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(2, 218, 2);
  }

  .butt .unconfirm {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    color: #fff;
  }

  .infor0 textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #9b9a9a;
    border-radius: 3px;
  }

  .form-groupa {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  .form-group {
    margin-top: 10px;
  }


  .infor0 .a {
    width: calc(50% - 28px);
  }

  .infor0 input {
    margin-top: 5px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid gray;
    width: calc(100% - 16px);
  }

  .infor0 .sele {
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 7px;
    width: 32%;
  }
  .error-message {
    color: red;
   
  }

  .qr-div {
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* Màu nền cho modal */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  #qr-code img {
    width: 400px;
    margin: 0 auto;
  }

  .buttqr .confirm {
    width: 80px;
    color: #fff;
    background-color: rgb(2, 218, 2);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(2, 218, 2);
  }

  .buttqr .unconfirm {
    width: 80px;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    color: #fff;
  }
  #end_total2{
    color: red;
  }
  .hidepro{
    display: none;
  }
  .onpro{
   
      display: block;
      display: flex;
  }
